<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuration</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
        <ion-grid class="table">
          <ion-row class="table-row">
            <ion-col class="columns">Device Name</ion-col>
            <ion-col class="columns">MAC Address</ion-col>
            <ion-col class="columns">Action</ion-col>
            <ion-col class="columns">View Device Details</ion-col>
          </ion-row>
          
          <ion-row class="table-row" *ngFor ="let device of devices" >
            <ion-col class="columns">{{device.deviceName}}</ion-col>
            <ion-col class="columns">{{device.macAddress}}</ion-col>
            <ion-col class="columns">
              <ion-select placeholder="None">
                <ion-select-option *ngFor = "let action of actions" [value] = "action.value">{{action.value}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col><ion-button (click)="setOpen(true, device)">View Info</ion-button></ion-col>   
          </ion-row>
      
          
          <ion-button id ="present-alert">Save</ion-button>
        </ion-grid>      

  
  <ion-alert
    trigger="present-alert"
    header="Save Changes"
    message="Are you sure you want to save the changes?"
    [buttons]="alertButtons"
    (didDismiss)="setResult($event)"
  ></ion-alert>
  <p>{{ handlerMessage }}</p>
  <p>{{ roleMessage }}</p>

  
</ion-content>

<ion-modal id="info" [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>All Information</ion-title>
        <ion-buttons slot="end">
          <ion-button style="color: rgb(10, 207, 207);"(click)="setOpen(false, device)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list class ="home">
        <h1>Device Information</h1>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Host Name: </ion-label>
              <ion-label class="desc">{{device.hostName}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Device Name: </ion-label>
              <ion-label class="desc">{{device.deviceName}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Device Model: </ion-label>
              <ion-label class="desc">{{device.deviceModel}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>MAC Address: </ion-label>
              <ion-label class="desc">{{device.macAddress}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Device Status: </ion-label>
              <ion-label class="desc">{{device.deviceStatus}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Port Type: </ion-label>
              <ion-label class="desc">{{device.portType}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Port ID: </ion-label>
              <ion-label class="desc">SSID1</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Online Duration</ion-label>
              <ion-label class="desc">{{device.onlineDuration}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>IP Acquisition Mode</ion-label>
              <ion-label class="desc">{{device.ipMode}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>