<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuration</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuration</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row class="try">
    <ion-col class ="tablecol">
  <!--     <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">CONTACT PERSON</h1> -->
      <ion-item class="table-item">
        <ion-grid class="table">
          <ion-row class="table-row">
            <ion-col class="columns">Username</ion-col>
            <ion-col class="columns">Full Name</ion-col>
            <ion-col class="columns">Email</ion-col>
            <ion-col class="columns">Contact Number</ion-col>
            <ion-col class="columns">Gender</ion-col>
            <ion-col class="columns">View Profile</ion-col>
            <ion-col class="columns">Selection</ion-col>
          </ion-row>
          
        </ion-grid>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
