<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Firewall</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Firewall</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="off">
  <h4>Turn off Firewall</h4>
  <ion-toggle [checked]="true" color="danger">Patayin</ion-toggle><br /><br />
  <p>papatayin ka sa selos hehehe</p>
  <br />
  <h4>Going Report</h4>
  <ion-toggle [checked]="true" color="danger">Patayin</ion-toggle><br /><br />
</ion-list>
</ion-content>
