p {
    text-align: auto;
    text-size-adjust: 50vh;
    margin-left: 10px;
    margin-right: 0px;
}


.off{
    margin-top:3%;
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

ion-toggle{
    margin-top:0%;
    width: 120px;
    margin-left:10px;
}
 
h4{
    margin-top:0%;
    width: 120px;
    margin-left:10px;
}