<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Firewall</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen] ='true' scroll-y="true">
<ion-list class="one">
  <h3>Firewall</h3><br>
  <ion-toggle [checked]="true" color="primary" [(ngModel)] = "firewall" name="firewall">Off/On</ion-toggle>
  <p>Turning off firewall will stop filtering your networks from potential threats</p>
</ion-list>

<ion-list class="two">
  <h3>Notification </h3><br/>
  <ion-toggle [checked]="true" color="primary" [(ngModel)] = "notification" name ="notification">Off/On</ion-toggle>
  <p>Turning off notification will not send you any messages from the app</p>
</ion-list>

<ion-list class="three">
  <h3>Port Scan Protection</h3><br/>
  <ion-toggle [checked]="true" color="primary" [(ngModel)] = "portScan" name="portScan">Off/On</ion-toggle>
  <p>Block port scan attempts in the network. Some port scan attempts are performed with the intent of compromising your device</p>
</ion-list>

<ion-list class="four"><br/>
  <h3>Use Passive Detection Mode</h3><br/>
  <ion-toggle [checked]="true" color="primary" [(ngModel)] = "passive" name="passive">Off/On</ion-toggle>
  <p>Intercept DHCP traffic wihtout conflicting with existing custom DHCP software</p>
</ion-list>


<div class="buttons">
  <ion-button *ngIf = "firewall == true" class="cache" shape="round" >New</ion-button>
  <ion-button *ngIf = "firewall == true" class="cache" shape="round" style="margin-left:10px">Delete</ion-button>
  <ion-button  class="cache" shape="round" style="margin-left:10px">Clear Cache</ion-button>
</div>

<ion-grid *ngIf = "firewall == true" class="firewall-log">
  <ion-row class="log-header">
    <ion-col size="1">
      ID
    </ion-col>
    <ion-col>
      Log Rule Status
    </ion-col>
    <ion-col>
      Log Access Direction
    </ion-col>
    <ion-col>
      Log Rule Action
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1">
      --
    </ion-col>
    <ion-col>
      --
    </ion-col>
    <ion-col>
      --
    </ion-col>
    <ion-col>
      --
    </ion-col>
  </ion-row>
  
</ion-grid>
<div class="view-logs" *ngIf = "firewall == true">
  <h1 style="margin-top:20px;">Download and View Logs</h1>
  <ion-button id="btnView" shape="round">Download Log File</ion-button>
  
    <ion-textarea style="margin-top:20px; margin-bottom: 40px;" labelPlacement="floating" [autoGrow]="true"  placeholder ="Firewall Logs" >
    "Timestamp: The date and time when an event occurred.
      Source IP Address: The IP address of the device initiating the network connection.
      Destination IP Address: The IP address of the device receiving the network connection.
      Source Port: The port number on the source device.
      Destination Port: The port number on the destination device.
      Protocol: The network protocol used (e.g., TCP, UDP).
      Action: The action taken by the firewall (e.g., allowed, denied, dropped).
      Rule ID: The identifier of the firewall rule that was matched or triggered.
      Event Type: The type of event or traffic (e.g., incoming connection, outgoing connection, intrusion attempt).
      Additional Information: Other relevant details, such as the size of the data transferred, flags set in TCP packets, and more."</ion-textarea>  
</div>
</ion-content>
