ion-img{
    margin-top: 1%;
    margin-left: 5%;
    width: 1400px;
    
}
.Test{
    margin-right: 10%;
    margin-left: 45%;
    margin-top: 2%;
    margin-bottom: 10%;
}

ion-content{
    --background: url("/assets/images/homebg.png") no-repeat center/100%;
  --max-width: fit-content;   
  }