<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
      <ion-label id = "datetime" slot ="end"></ion-label>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <ion-grid class ="connect">
    <ion-row>
      <ion-col><ion-icon name="globe-outline" color="light" size="large"></ion-icon></ion-col>
      <ion-col><ion-icon name="remove-outline" color="light" size="large"></ion-icon></ion-col>
      <ion-col><ion-icon name="bonfire-outline" color="light" size="large"></ion-icon></ion-col>
      <ion-col><ion-icon name="remove-outline" color="light" size="large"></ion-icon></ion-col>
      <ion-col><ion-icon name="wifi-outline" color="light" size="large"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
  

  <ion-list class ="home">
    <h1>Device Information</h1>

        <ion-item>
          <ion-label class="lab">Software Version:</ion-label>
          <ion-label class="desc">Raspbian Buster (10.7)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="lab">Hardware Version:</ion-label>
          <ion-label class="desc">Raspberry Pi 4 Model B</ion-label>
        </ion-item>
     
        <ion-item>
          <ion-label class="lab">Device Model:</ion-label>
          <ion-label class="desc">Raspberry Pi 4 Model B</ion-label>
        </ion-item>
     
        <ion-item>
          <ion-label class="lab">Device Description:</ion-label>
          <ion-label class="desc">Raspberry Pi Firewall</ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="lab">Serial Number:</ion-label>
          <ion-label class="desc">1001-ABCD-1234</ion-label>
        </ion-item>
   
        <ion-item>
          <ion-label class="lab">CPU Usage:</ion-label>
          <ion-label class="desc">15% (averaged over the last 5 minutes)</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-label class="lab">Memory usage:</ion-label>
          <ion-label class="desc"> 40% (512 MB used out of 1 GB)</ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="lab">System up time</ion-label>
          <ion-label class="desc">2 days, 4 hours, 37 minutes</ion-label>
        </ion-item>
  </ion-list>
</ion-content>
