<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
      <ion-label id = "datetime" slot ="end"></ion-label>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <ion-grid class ="connect">
    <ion-row>
      <ion-col><ion-icon name="globe-outline" color="light" size="large"></ion-icon></ion-col>
      <ion-col><ion-icon name="remove-outline" color="light" size="large"></ion-icon></ion-col>
      <ion-col><ion-icon name="bonfire-outline" color="light" size="large"></ion-icon></ion-col>
      <ion-col><ion-icon name="remove-outline" color="light" size="large"></ion-icon></ion-col>
      <ion-col><ion-icon name="wifi-outline" color="light" size="large"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
  

  <ion-list class ="home">
    <h1>Device Information</h1>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Software Version:</ion-label>
          <ion-label class="desc">mema</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Hardware Version:</ion-label>
          <ion-label class="desc">mema</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Device Model:</ion-label>
          <ion-label class="desc">mema</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Device Description:</ion-label>
          <ion-label class="desc">mema</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Serial Number:</ion-label>
          <ion-label class="desc">mema</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>CPU Usage:</ion-label>
          <ion-label class="desc">mema</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Memory usage:</ion-label>
          <ion-label class="desc">mema</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>System up time</ion-label>
          <ion-label class="desc">mema</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
